<!DOCTYPE html>
<html>
  <head>
    <title>Vue Workout Timer</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container" id="app">
      <h1 class="title">Set Timer</h1>
      <form class="timer-wrapper" @submit.prevent="startTimer">
        <div class="timer-controls">
          <button type="submit" class="start">
            <i
              class="start__icon"
              v-show="!timerOn"
              height="64px"
              width="64px"
              data-feather="play-circle"
            ></i>
            <i
              class="start__icon"
              v-show="timerOn"
              height="64px"
              width="64px"
              data-feather="pause-circle"
            ></i>
          </button>
        </div>
        <input
          id="time"
          type="number"
          placeholder="seconds"
          step="1"
          min="1"
          required
          class="timer-input"
          v-model="restSeconds"
        />
      </form>

      <div class="progress"></div>

      <div class="sets">
        <h3 class="sets__label">SETS</h3>
        <button class="sets__remove" @click="removeSet">
          <i
            class="sets__icon"
            width="24px"
            height="24px"
            data-feather="minus"
          ></i>
        </button>
        <button class="sets__add" @click="addSet">
          <i
            class="sets__icon"
            width="24px"
            height="24px"
            data-feather="plus"
          ></i>
        </button>
        <span
          class="sets__set sets__set--complete"
          v-for="set in setsComplete"
          :key="set"
        ></span>
        <span
          class="sets__set"
          v-for="set in setsRemaining"
          :key="100 + set"
        ></span
        ><!-- key +100 is to avoid duplicate key with completed sets -->
      </div>
    </main>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          timerOn: false,
          countdown: null,
          totalSets: 3,
          setsComplete: 0,
          restSeconds: null
        },
        methods: {
          startTimer() {
            this.timerOn = true;
            this.startCountdown();
          },
          startCountdown() {
            this.countdown = setInterval(() => {
              this.restSeconds--;
              if (this.restSeconds <= 0) {
                this.endCountdown();
              }
            }, 1000);
          },
          endCountdown() {
            clearInterval(this.countdown);
            this.timerOn = false;
            this.completeSet();
          },
          addSet() {
            this.totalSets++;
          },
          removeSet() {
            if (this.totalSets > 1) {
              this.totalSets--;
            }
          },
          completeSet() {
            if (this.setsComplete === this.totalSets) {
              this.totalSets++;
            }
            this.setsComplete++;
          }
        },
        computed: {
          setsRemaining() {
            return this.totalSets - this.setsComplete;
          }
        },
        created() {
          feather.replace();
        }
      });
    </script>
  </body>
</html>
