<!DOCTYPE html>
<html>
  <head>
    <title>Vue Workout Timer</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main class="container" id="app">
      <h1 class="title">Rest Timer</h1>
      <form class="timer-wrapper" @submit.prevent="toggleTimer">
        <div class="timer-controls">
          <button type="submit" class="start">
            <i
              class="start__icon"
              v-show="!timerOn"
              height="64px"
              width="64px"
              data-feather="play-circle"
            ></i>
            <i
              class="start__icon"
              v-show="timerOn"
              height="64px"
              width="64px"
              data-feather="pause-circle"
            ></i>
          </button>
        </div>
        <input
          id="time"
          type="number"
          placeholder="seconds"
          step="1"
          min="1"
          required
          :readonly="timerOn"
          class="timer-input"
          v-model="restSeconds"
        />
      </form>

      <div class="progress" v-bind:style="progressStyle"></div>

      <div class="set-controls">
        <h3 class="sets__label">SETS</h3>
        <button class="sets__remove" @click="removeSet">
          <i
            class="sets__icon"
            width="24px"
            height="24px"
            data-feather="minus"
          ></i>
        </button>
        <button class="sets__add" @click="addSet">
          <i
            class="sets__icon"
            width="24px"
            height="24px"
            data-feather="plus"
          ></i>
        </button>
      </div>
      <transition-group
        class="sets"
        name="set-transition"
        tag="div"
        mode="out-in"
      >
        <span
          class="sets__set sets__set--complete"
          v-for="set in setsComplete"
          :key="set"
          @click="decompleteSet"
        ></span>
        <span
          class="sets__set"
          v-for="(set, index) in setsRemaining"
          :key="100 + set"
          :class="{
            'sets__set--current': index === 0,
            'sets__set--current-rest': index === 0 && timerOn
          }"
          @click="completeSet"
        ></span>
        <!-- key +100 is to avoid duplicate key with completed sets -->
      </transition-group>
    </main>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          timerOn: false,
          countdown: null,
          totalSets: 3,
          setsComplete: 0,
          restSeconds: null,
          initSeconds: null,
          audio: new Audio('sound.mp3')
        },
        methods: {
          toggleTimer() {
            this.timerOn = !this.timerOn;
            if (this.timerOn && this.countdown === null) {
              this.initCountdown();
            }
          },
          initCountdown() {
            this.completeSet();
            this.initSeconds = this.restSeconds;
            this.countdown = setInterval(() => {
              this.decrementTime();
            }, 1000);
          },
          decrementTime() {
            if (this.timerOn) {
              this.restSeconds--;
            }
            if (this.restSeconds <= 0) {
              this.playFx(); // placed here to avoid delay
              this.endCountdown();
            }
          },
          endCountdown() {
            clearInterval(this.countdown);
            this.timerOn = false;
            this.countdown = null;
            this.restSeconds = this.initSeconds;
          },
          playFx() {
            this.audio.play();
          },
          addSet() {
            this.totalSets++;
          },
          removeSet() {
            if (this.totalSets > 1 && this.totalSets > this.setsComplete + 1) {
              this.totalSets--;
            }
          },
          completeSet() {
            this.setsComplete++;
            if (this.setsComplete === this.totalSets) {
              this.totalSets++;
            }
          },
          decompleteSet() {
            this.setsComplete--;
          }
        },
        computed: {
          setsRemaining() {
            return this.totalSets - this.setsComplete;
          },
          progressRatio() {
            return this.restSeconds / this.initSeconds;
          },
          progressStyle() {
            return {
              // width: `${this.progressPercent}%`,
              transform: `scaleX(${this.progressRatio || 0}) translateY(${
                this.countdown !== null ? 0 : -1
              }rem)`,
              backgroundColor: this.timerOn ? 'var(--red)' : 'var(--blue)'
            };
          }
        },
        created() {
          feather.replace();
        }
      });
    </script>
  </body>
</html>
